.mod {
    width: 375px;
    height: 168px;
}

.box {
    background-color: #ffffff;
    width: 375px;
    height: 168px;
}

.info {
    position: relative;
    margin-top: 12px;
    margin-left: 15px;
    max-width: 360px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    white-space: nowrap;
    color: #181818;
    font-size: 13px;
    font-weight: 400;
}

.bd {
    position: relative;
    align-self: center;
    height: 17px;
}

.word {
    margin-right: 154px;
    margin-bottom: 2px;
    line-height: 10px;
    white-space: pre;
    color: #acacac;
    font-size: 10px;
    font-weight: 400;
}

.text {
    margin-bottom: 2px;
    line-height: 12px;
    white-space: nowrap;
    color: #fc9627;
    font-size: 12px;
    font-weight: 400;
}

.ft {
    position: relative;
    align-self: center;
    margin-top: 11px;
}

.pic {
    margin-top: -1px;
    margin-right: 8px;
    width: 98px;
    height: 98px;
    overflow: hidden;
}

.group {
    margin-top: 1px;
}

.desc {
    webkit-box-orient: vertical;
    display: -webkit-inline-box;
    webkit-line-clamp: 2;
    position: relative;
    width: 236px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #181818;
    font-size: 14px;
    font-weight: 400;
}

.info_1 {
    position: relative;
    margin-top: 3px;
    margin-left: 2px;
    max-width: 223px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
    white-space: nowrap;
    color: #acacac;
    font-size: 10px;
    font-weight: 400;
}

.container {
    position: relative;
    margin-top: 22px;
}

.priceWrap {
    margin-right: 27px;
    height: 17px;
}

.yuan {
    margin-top: 1px;
    margin-right: -2px;
    line-height: 12px;
    white-space: nowrap;
    color: #fd2020;
    font-size: 12px;
    font-weight: 400;
}

.price {
    margin-top: -1px;
    margin-right: 1px;
    line-height: 15px;
    white-space: nowrap;
    color: #fd2020;
    font-size: 15px;
    font-weight: 400;
}

.count {
    margin-top: -1px;
    line-height: 14px;
    white-space: nowrap;
    color: #fd2020;
    font-size: 14px;
    font-weight: 400;
}

.tagWrap {
    box-sizing: border-box;
    margin-right: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 11px;
    border-color: #e2e2e2;
    background-color: #ffffff;
    padding-right: 16px;
    padding-left: 16px;
    height: 23px;
}

.tag {
    margin-top: 0;
    line-height: 10px;
    white-space: nowrap;
    color: #7b7b7b;
    font-size: 10px;
    font-weight: 400;
}

.tagWrap_1 {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 11px;
    border-color: #e2e2e2;
    background-color: #ffffff;
    padding-right: 16px;
    padding-left: 16px;
    height: 23px;
}

.tag_1 {
    margin-top: 0;
    line-height: 10px;
    white-space: nowrap;
    color: #7b7b7b;
    font-size: 10px;
    font-weight: 400;
}
